/* GLOBAL */
.text-strong {
  font-weight: bold;
}
.bg-red-price {
  background: #EE4039;
}
/* Nav */
.main-nav > .navbar-brand > img {
  width: 100px;
}
/* Banner */
.banner-container {
  background-image: url('../img/desarrolloSoftware.jpg');
  background-position-x: center;
  background-size: cover;
  height: 270px;
}
@media print, screen and (max-width: 767px) {
  .banner-container {
    height: 200px;
  }
}
@media print, screen and (max-width: 576px) {
  .banner-container {
    height: 100px;
  }
}
/* Stuff */
@media print, screen and (max-width: 767px) {
  .container-info > p {
    font-size: .9em;
  }
}
@media print, screen and (max-width: 576px) {
  .container-info > p {
    font-size: .7em;
  }
}
/* Brochure */
.brochure1{
  background: #f29200;
  /* background: #FAAD1A; */
}
.brochure2 {
  /* background: #88919A; */
  background: #2c2727;
  /* background: #0062B2; */
  /* background: #0080FF; */
}
.brochure1, .brochure2 {
  color: #fff;
}
.brochure1 .img-container img, .brochure2 .img-container img {
  width: 100%;
}
@media print, screen and (max-width: 767px) {
  .brochure1 .info-container, .brochure2 .info-container {
    margin-top: 1em;
  }
}
/* Offers */
.bg-offers {
  background-image: url(../img/bg-offers.jpeg); 
  background-size: cover;
}
.offer-main-container {
  margin-bottom: 3em;
}
.offer-main-container .offer-container .offer-item {
  /* overflow: hidden; */
  min-width: 285px;
}
.offer-main-container .offer-container .offer-item > div {
  min-width: 280px;
  max-width: 280px;
  overflow: hidden;
  transition: all 0.3s !important;
}
.offer-main-container .offer-container .offer-item .price {
  font-size: 2.5em;
  margin-bottom: .5em;
}
.offer-main-container .offer-container .offer-item > div:hover{
  transform: translateY(-15px);
  transition: all 0.3s;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
@media print, screen and (max-width: 991px) {
  .offer-main-container .offer-container .offer-item:last-child {
    margin-top: 3em;
  }
}
@media print, screen and (max-width: 767px) {
  .offer-main-container .offer-container .offer-item {
    margin-top: 3em !important;
  }
}
/* FORMULARIO*/
.centrarContent{
  align-items: center;
  display: flex;
  justify-content: center;
  background: #282D31;
}
.br-formulario{
  background: #FAAF16;
}
.bordeer{
  border-radius: 29px;
  border:2px solid rgb(111, 118, 123);
  outline: none;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition:0.5s;
  color: #181616;
  padding: 8px 8px;
  padding-left: 18px;
}
textarea{
  padding-top: 18px;
}
.bordeer:focus{
  border:2px solid #282D31;
  
  box-shadow: 0 0 0 0.1rem rgba(24, 22, 22, 0.47);
}
.btnEnviar{
  background-color: #181616;
  color: #ececec;
  padding: 8px 22px;
  border-radius: 29px;
  transition:0.5s;
  border: #181616;
  margin-top:15px;
  font-weight: bold;
}
.btnEnviar:hover{
  background-color: #282D31; 
}
.btnEnviar:focus{
  background-color: #282D31;
  box-shadow: none;
  color: #fff;
}
/*----*/
/* Footer */
footer {
  background: #262323;
}
.text-fotter{
  color: #707070;
  font-size: 14px;
}
