@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif; 
}
/*AJUSTER DEL CAROUSEL */
.carousel-indicators li{
    border-radius: 50%;
    width: 12px;
    height: 12px;
}
.carousel-indicators .active{
    background-color: #222429;
}
.carousell-re{
    margin-top: 42px;      
}
/* SERVICIOS*/

.bt-servicio{
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
}
.ft{background-color: #1153c1;}
.sc{background-color:#0f7b9b;}
.ss{background-color: #013d49;}
.it{background-color: #434e61;}
.cp{background-color: #005164;}
.pd{background-color: #3a94b6;}
.card a{
    text-align: center;
}

.bt-servicio:hover{
    transition-duration: 0.5s;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff;
}

/*Equipo-Nosotros*/
.avatar{
    height:140px;
    width:140px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-transition: filter 0.7s ease-out;
    -moz-transition: filter 0.7s ease-out;
    -o-transition: filter 0.7s ease-out;
    transition: filter 0.7s ease-out;
}
.avatar:hover{
    filter: grayscale(0%);
}
.name{
    margin-top: 10px;
    margin-bottom: 0;
}
.centrarContent{
    align-items: center;
    display: flex;
    justify-content: center;
    background: #282D31;
}
/* FORMULARIO*/
.br-formulario{
    background: #FAAF16;
}
.bordeer{
    border-radius: 29px;
    border:2px solid rgb(111, 118, 123);
    outline: none;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition:0.5s;
    color: #181616;
    padding: 8px 8px;
    padding-left: 18px;
}
textarea{
    padding-top: 18px;
}
.bordeer:focus{
    border:2px solid #282D31;
    
    box-shadow: 0 0 0 0.1rem rgba(24, 22, 22, 0.47);
}
.btnEnviar{
    background-color: #181616;
    color: #ececec;
    padding: 8px 22px;
    border-radius: 29px;
    transition:0.5s;
    border: #181616;
    margin-top:15px;
    font-weight: bold;
}
.btnEnviar:hover{
    background-color: #282D31; 
}
.btnEnviar:focus{
    background-color: #282D31;
    box-shadow: none;
    color: #fff;
}
/*----*/
/* FOOTER*/
footer{
    background-color: #222429;
}
.text-fotter{
    color: #707070;
    font-size: 14px;
}
/*Parallax*/
.parallax{
    background-image: url("../img/dronee.jpg");
    height: 230px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.parallax1{
    background-image: url("../img/dronee.jpg");
}
.parallax2{
    background-image: url("../img/drone2.jpg");
}
.marg{
   margin-top: 5.2rem;
}
.redsocial{
    margin-left:0.4rem;
    margin-bottom: 0.4rem;
    font-size: 32px;
    color: rgb(223, 223, 223);
}
/*----*/


